main {
    padding: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

.list-group .fas {
    margin-right: 1rem;
}

.table-hover tr:hover .table-success {
    background-color: #b1dfbb;
}

.table-hover tr:hover .table-danger {
    background-color: #f1b0b7;
}

.popover{
    max-width:500px;
}
