{% extends "layout.html" %}

{% block body %}

<h1 class="text-center">Branch {{ branchDir }}</h1>
<table
    class="table table-hover table-bordered"
    data-toggle="table">

    <thead>
    <tr class="text-center">
        <th scope="col" data-field="name" data-sortable="true">Name</th>
        <th scope="col"></th>
        <th scope="col" data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
        <th scope="col" data-field="result" data-sortable="true">Result</th>
        <th scope="col">Base</th>
        <th scope="col">Current</th>
        <th scope="col">Diff</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for result in testResults %}
    <tr id="tr-{{ result.testFileName }}">

        <td scope="row" title="filename: {{ result.testFileName }}">{{ result.testName }}</td>

        <td>
            <button id="btn-delete-{{ result.testFileName }}"
                    onclick="deleteTest('{{ branchName }}', '{{ result.testFileName }}'); return false;"
                    class="btn btn-danger fas fa-trash">
            </button>
        </td>

        <td title="{{ result.date | dateToIso }}" data-date="{{ result.date.getTime() }}">{{ result.date | formatDistanceToNow }}</td>

        <td id="td-{{ result.testFileName }}"
            class="text-center {{ 'table-success' if result.success else 'table-danger' }}">
            {% if result.success == false %}<i class="fas fa-times fa-lg"></i>{% endif %}
            {% if result.success == true %}<i class="fas fa-check fa-lg"></i>{% endif %}
        </td>

        <td class="text-center">
            <a href="{{ result.baselineImage }}"
               target="_blank"
               class="btn btn-secondary btn-sm"
               role="button"
               data-content="<img src='{{ result.baselineImage }}' style='max-width:100%'/>"
               data-html="true"
               data-placement="left"
               data-toggle="popover"
               data-trigger="hover"
            ><span class="fas fa-external-link-alt"></span> Base
            </a>
        </td>

        <td class="text-center">
            <a href="{{ result.actualImage }}"
               target="_blank"
               class="btn btn-secondary btn-sm"
               role="button"
               data-content="<img src='{{ result.actualImage }}' style='max-width:100%'/>"
               data-html="true"
               data-placement="right"
               data-toggle="popover"
               data-trigger="hover"
            ><span class="fas fa-external-link-alt"></span> Current
            </a>
        </td>

        <td class="text-center">
            {% if result.diffImage %}
            <a href="{{ result.diffImage }}"
               target="_blank"
               class="btn btn-secondary btn-sm"
               role="button"
               data-content="<img src='{{ result.diffImage }}' style='max-width:100%'/>"
               data-html="true"
               data-placement="right"
               data-toggle="popover"
               data-trigger="hover"
            ><span class="fas fa-external-link-alt"></span> Diff
            </a>
            {% endif %}
        </td>

        <td class="text-center">
            {% if result.success == false %}
            <button id="btn-{{ result.testFileName }}"
                    onclick="accept('{{ branchName }}', '{{ result.testFileName }}'); return false;"
                    class="btn btn-success fas fa-thumbs-up">
            </button>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block footer %}
<script src="/branch.js"></script>

<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
    });
</script>
{% endblock %}
