{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">Branch {{ branchDir }}</h1>
<table class="table table-hover table-bordered">
    <thead>
    <tr class="text-center">
        <th scope="col" colspan="2">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Result</th>
        <th scope="col">Base</th>
        <th scope="col">Current</th>
        <th scope="col" colspan="2">Diff</th>
    </tr>
    </thead>
    <tbody>
    {% for result in testResults %}
    <tr id="tr-{{ result.testFileName }}">
        <th scope="row" title="filename: {{ result.testFileName }}">{{ result.testName }}</th>
        <td>
            <button id="btn-delete-{{ result.testFileName }}"
                    onclick="deleteTest('{{ branchName }}', '{{ result.testFileName }}'); return false;"
                    class="btn btn-danger fas fa-trash">
            </button>
        </td>
        <td>{{ result.date | dateToIso }}</td>
        <td id="td-{{ result.testFileName }}"
            class="text-center {{ 'table-success' if result.success else 'table-danger' }}">
            {% if result.success == false %}<i class="fas fa-times fa-lg"></i>{% endif %}
            {% if result.success == true %}<i class="fas fa-check fa-lg"></i>{% endif %}
        </td>
        <td class="text-center">
            <a href="{{ result.baselineImage }}" target="_blank"
               class="btn btn-secondary btn-sm" role="button">
                <span class="fas fa-external-link-alt"></span> Base
            </a>
        </td>
        <td class="text-center">
            <a href="{{ result.actualImage }}" target="_blank"
               class="btn btn-secondary btn-sm" role="button">
                <span class="fas fa-external-link-alt"></span> Current
            </a>
        </td>
        <td class="text-center">
            {% if result.diffImage %}
            <a href="{{ result.diffImage }}" target="_blank"
               class="btn btn-secondary btn-sm" role="button">
                <span class="fas fa-external-link-alt"></span> Diff
            </a>
            {% endif %}
        </td>
        <td class="text-center">
            {% if result.success == false %}
            <button id="btn-{{ result.testFileName }}"
                    onclick="accept('{{ branchName }}', '{{ result.testFileName }}'); return false;"
                    class="btn btn-success fas fa-thumbs-up">
            </button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block footer %}
<script src="/branch.js"></script>
{% endblock %}
